.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0; }
  
.jumbotron.header {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
    color: white; }
  
.row-content {
    padding: 20px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }

nav {
    background-color: #e3f2fd;
}