.site-footer {
    background-color: #e3f2fd;
    padding: 2px 0; }
  
.jumbotron.header {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
    color: white; }
 .jumbotron {
     margin: 0;
 } 

.row-content {
    padding: 5px 0;
    border-bottom: 1px ridge blue;
    /*  min-height: 200px; */
} 

nav {
    background-color: #e3f2fd;
}